body {
	background-image: url(assets/Background.png);
	background-size: cover;
	background-repeat: repeat-y;
	font-family:
		"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	user-select: none;
}

.topbar {
	width: auto;
	height: 100px;
	display: flex;
	margin-left: 50px;
	margin-top: 20px;
	cursor: default;
}

.wavediv {
	height: 100px;
	width: 20%;
	color: white;
	font-size: 30px;
}

.coindiv {
	position: absolute;
	right: 20%;
	height: 100px;
	width: 10%;
	color: white;
	font-size: 30px;
}

.hartsdiv {
	background-image: url(assets/Heart.png);
	background-size: contain;
	width: 180px;
	height: 60px;
	background-repeat: repeat-x;
	position: absolute;
	left: 50%;
	translate: -50%;
}

.destroydiv {
	position: absolute;
	right: 260px;
	height: 100px;
	width: 100px;
	background-image: url(assets/Destroy.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	z-index: 2;
}

.destroydiv:hover {
	background-color: rgb(10, 10, 10);
}

.buildmodediv {
	position: absolute;
	right: 20px;
	height: 100px;
	width: 100px;
	background-image: url(assets/BuildHammer.png);
	background-size: contain;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	z-index: 2;
}

.buildmodediv:hover {
	background-color: rgb(10, 10, 10);
}

.towerSeletor {
	z-index: 3;
	position: absolute;
	border: 1px green solid;
	border-radius: 10px;
	width: 300px;
	height: 150px;
	top: 150px;
	right: 100px;
	background-color: rgb(10, 10, 10);
	cursor: pointer;
	display: none;
}

.towerselectdiv {
	width: 100px;
	height: 150px;
}

.towerselectdiv div {
	height: 100px;
	width: 100px;
	background-size: contain;
}

.towerselectdiv p {
	color: white;
	text-align: center;
	font-size: 20px;
	margin: 10px;
}

.blasterdiv div {
	background-image: url(assets/BlasterTuret.png);
}

.shockdiv div {
	background-image: url(assets/ShockTuret.png);
}

.sniperdiv div {
	background-image: url(assets/SniperTuret.png);
}

.bulett {
	position: absolute;
	background-size: contain;
}

.Blaster {
	width: 40px;
	height: 40px;
	background-image: url(assets/BulettBlaster.gif);
}

.Shock {
	width: 400px;
	height: 400px;
	opacity: 0.5;
	background-image: url(assets/BulettShock.gif);
}

.Sniper {
	background-image: url(assets/BulettSniper.gif);
	width: 20px;
}

.selelectedturet {
	background-color: rgb(50, 50, 50);
	border-radius: 10px;
}

.upgradediv {
	position: absolute;
	right: 140px;
	height: 100px;
	width: 100px;
	background-image: url(assets/Upgrade.png);
	background-size: contain;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 20px;
	z-index: 2;
}

.upgradediv:hover {
	background-color: rgb(10, 10, 10);
}

.constructionsdiv {
	transition: opacity 0.5s ease;
	position: absolute;
	color: white;
	width: 99%;
	height: 80px;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	z-index: 2;
	bottom: 10px;
}

.constructionsdiv::before {
	content: "";
	position: absolute;
	inset: 0;
	margin-top: -10px;
	background-image: url(assets/ConstuctionStripes.jpg);
	background-size: contain;
	opacity: 0.3;
	z-index: -1;
}
.gameArea {
	background-image: url(assets/Bridge.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	width: 99%;
	height: 750px;
	position: absolute;
	top: 80px;
}

.startportal {
	background-image: url(assets/StartPortal.gif);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 320px;
	height: 320px;
	z-index: 1;
	margin-top: 200px;
	transition: opacity 1.5s ease;
}

.endportal {
	background-image: url(assets/EndStar.gif);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 320px;
	height: 320px;
	z-index: 1;
	margin-top: 150px;
	right: 0px;
	transition: opacity 1.5s ease;
}

.startBTN {
	position: absolute;
	font-size: 70px;
	color: white;
	background-color: blueviolet;
	border-radius: 10px;
	padding: 20px;
	top: 50%;
	left: 50%;
	translate: -50%;
	cursor: pointer;
}

.enemy {
	top: 350px;
	width: 60px;
	height: 60px;
	position: absolute;
	opacity: 0;
	transition: opacity 0.8s ease;
	z-index: 1;
	background-size: contain;
}

.hpdiv {
	position: absolute;
	height: 3px;
	width: 40px;
	background-color: red;
	bottom: -5px;
	left: 10px;
}

.tower {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: top;
	z-index: 7;
	color: white;
	font-weight: bold;
}

.tower span {
	position: absolute;
	bottom: 3px;
	left: 50%;
	translate: -50%;
}

table {
	position: absolute;
	width: 1036px;
	height: auto;
	left: 50%;
	translate: -50%;
}

td {
	border: 2px transparent solid;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.tableTop {
	top: 150px;
}

.tableBottom {
	top: 660px;
}
